<div class="row">
  <div class="col-md-2 card mb-4 shadow-sm">
    <%= image_tag avatar_url(@user.username), class: "img-responsive" %>
    <b><%= @user.username.upcase %></b>
  </div>

  <div class="col-sm-8 frame">
    <ul id="conversations-list">
      <%= render 'conversations/conversation', conversation: @conversation, messages: @messages, user: current_user %>
    </ul>
  </div>

  <div class="col-md-2 card mb-4 shadow-sm">
    
  </div>
</div>
