<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <div class="frow">
          <p><b><%= user.username.upcase %></b></p>
        </div>
        <div class="secrow">
          <div class="caption hide" id="caption_<%= user.id.to_s %>">
            New messages
          </div>
          <%= image_tag avatar_url(user.username), class: "img-responsive" %>
        </div>

        <div class="thirdrow">
          <%= link_to "Message", user_path(user), class: "btn btn-lg btn-success btn-outline-secondary btn-block", id: "btn_message_" + user.id.to_s %>
          
        </div>
        </div>
    </div>
  <% end %>
</div>