/*
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.message-sent {
  color: grey;
}

.message-received {
  color: blue;
}

.chat-notification {
  background-color: green;
}

