// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row{   
  margin-top: 50px;
}

.thumbnail,textarea{
  border-radius: 0;
  overflow: hidden;
}

.thumbnail img {
  height: 160px;
}

.caption {
  position:absolute;
  bottom:0;
  right:0;
  background: rgba(0, 0, 0, 0.57);
  width:100%;
  height:45%;
  padding:2%;
  text-align:center;
  color:#fff !important;
  z-index:2;
}

.hide {
  display: none;
}

textarea{
  resize:none;
}
  .thumbnail{
    position: relative;
    border: 1px solid #BDC3C7;
    
    padding: 10px;
    margin: 5px;
    background-color: #EAEDF2;
  }
  .frow{
    position: relative;
    
  }
.frow,.secrow,.thirdrow{
  margin: 5px 0;
  text-align: center;
}

.frow img,.secrow img,.thirdrow img{
  width: 100%;
}

.secrow{
  position: relative;
}